@import '../../assets/styles/palette.scss';

.tools-container {
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 800px;
    height: 230px;
    color: $primary-color-text;
    background-color: $primary-color;
    opacity: .9;
    box-shadow: -1px 2px 15px $primary-text-color;
    transition: top 300ms ease-out;
    z-index: 9;

    &.fold {
        top: -230px;
    }

    &.unfold {
        top: 0;
    }
}

.tools-content {
    width: 94%;
    height: 100%;
    margin: 0 auto;
    overflow: scroll;
}

.tools-btn {
    position: absolute;
    bottom: -25px;
    right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 45px;
    background-color: $primary-color;
    cursor: pointer;


    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 14px;
        left: -15px;
        height: 0;
        border: 15px dashed transparent;
        border-bottom-color: $primary-color;
        transform: rotate(-45deg);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        height: 0;
        border: 15px dashed transparent;
        border-top-color: $primary-color;
        transform: rotate(90deg);
    }

}
