.search-btn-container {
    margin-left: 5px;

    .search-btn {
        letter-spacing: .1em;
    }

    .dropdown-menu {
        li {
            text-indent: .75em;
            letter-spacing: .1em;
        }
    }

}
 