@import '../../assets/styles/palette.scss';

.bookmark-container {
    position: relative;
    top: -5px;
    left: 2%;
    width: 95%;
    height: 225px;
    padding-right: 3%;
    border-right: 1px dashed $primary-color-text;
}

.book-body {
    height: 120px;
    margin: 0 auto 30px;
    overflow: scroll;
    text-align: center;

    .col-md-2 {
        margin: 3px 0;
        border-radius: 3px;
        transition: all 150ms linear;
        &:hover, &:active {
            background-color: rgba(255, 255, 255, .7);
            > .fa {
                opacity: 1;
            }
            > .book-link {
                color: $primary-color-dark;
            }
        }
    }

    .book-link {
        display: inline-block;
        padding: 5px 2em;
        color: $primary-color-text;
        height: 2em;
        overflow: hidden;
        &:hover, &:active {
            color: $primary-color-dark;
            text-decoration: none;
        }
    }


    .link-setting {
        position: absolute;
        top: 0;
        line-height: 33px;
        opacity: 0;
        cursor: pointer;

        &.del {
            left: .5em;
            &:hover {
                color: $danger-text-color;
            }
        }

        &.edit {
            right: .5em;
            &:hover {
                color: $primary-color;
            }
        }
    }
}


.bookmark-head {
    margin-bottom: 10px;

    h3 {
        display: inline-block;
        width: 50%;
    }

    .book-input {
        display: inline;
        margin-left: 1em;
        width: 15em;
        height: 25px;
    }
}

.book-edit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .well {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 85%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }

    .form-group {
        display: inline;

        .btn {
            margin-left: 22px;
        }
    }

    .book-label {
        display: inline-block;
        width: 50px;
        text-align: center;
    }

    .book-link-input {
        display: inline-block;
        &.name {
            width: 12.5%;
        }
        &.link {
            width: 55%;
        }
    }

    .well-close {
        position: absolute;
        top: 3px;
        right: 10px;
        color: $accent-color;
        cursor: pointer;

        &:hover {
            color: $secondary-text-color;
        }
    }

}
