.clock-container {
	margin-bottom: 5px;
    width: 100%;
    text-align: center;
    text-indent: -2.2em;
}

.clock-time {
	display: inline;
	font-size: 7.7em;
}

.clock-text {
	font-size: 1.1em;
	word-spacing: .2em;
}
 