.clock-container {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    text-indent: -2.2em;
}

.clock-time {
	display: inline;
	margin: 0 10px;
	font-size: 2.2em;
}

.clock-text {
	font-size: 1.1em;
	word-spacing: .2em;
}

