.weather-container {
    position: relative;
    margin: 0 auto;
    width: 280px;
}

.weather-location {
    position: absolute;
    top: -95px;
    right: 3px;
    padding: 0;
    margin: 0;

    .form-control {
        color: #FFF;
    }

    &:hover {
        &::after {
            display: inline-block;
        }
    }

    &::after {
        content: 'Click to edit it. & Press ENTER to save it.';
        display: none;
        position: absolute;
        top: -2.35em;
        right: 0;
        width: 250px;
        height: 1.85em;
        line-height: 1.85em;
        text-align: center;
        font-size: .45em;
        color: #FFF;
        background: rgba(0, 0, 0, .3);
        border-radius: 2px;
    }

}

.weather-city {
    margin: 0 .5em;
}

.weather-city-input {
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 0;
    margin: 0 .5em;
}

.weather-info {
    position: relative;
    top: 22px;
    left: -1px;
    width: 100%;
    p {
        margin-bottom: 15px;
    }
    .label {
        padding: .3em .5em;
        margin-right: 1em;
        line-height: 1em;
    }
}

.weather-noinfo {
    position: relative;
    left: 5px;
    top: 35px;
}
 